@font-face {
  font-family: 'Pretendard-Thin';
  src: url("../src/assets/fonts/Pretendard/Pretendard-Thin.otf") format('opentype');
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url("../src/assets/fonts/Pretendard/Pretendard-SemiBold.otf") format('opentype');
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url("../src/assets/fonts/Pretendard/Pretendard-Regular.otf") format('opentype');
}

@font-face {
  font-family: 'Pretendard-Mideum';
  src: url("../src/assets/fonts/Pretendard/Pretendard-Medium.otf") format('opentype');
}

@font-face {
  font-family: 'Pretendard-Light';
  src: url("../src/assets/fonts/Pretendard/Pretendard-Light.otf") format('opentype');
}

@font-face {
  font-family: 'Pretendard-ExtraLight';
  src: url("../src/assets/fonts/Pretendard/Pretendard-ExtraLight.otf") format('opentype');
}

@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url("../src/assets/fonts/Pretendard/Pretendard-ExtraBold.otf") format('opentype');
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url("../src/assets/fonts/Pretendard/Pretendard-Bold.otf") format('opentype');
}

@font-face {
  font-family: 'Pretendard-Black';
  src: url("../src/assets/fonts/Pretendard/Pretendard-Black.otf") format('opentype');
}

main {
  margin-left: 3rem;
}
